.weather_parent {
  position: relative;
  display: flex;
  align-items: center;
  height: 60vh;
}

.weatherBox {
  background-color: azure;
  width: 60vw;
  height: 50vh;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  left: 20%;
}

.current_title {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.weather_icon {
  margin: 3vh;
}
